@charset "UTF-8";

/* 글 리스트 */
.board-list-header {
	padding-top: 7px; padding-bottom: 7px;
}
.board-list { width: 100%; }
.board-list tr>th, .board-list tr>td { text-align: center; }
.board-list .left { text-align: left; padding-left: 5px; }

.board-list .bw-40 { width: 40px; color: #787878; }
.board-list .bw-50 { width: 50px; color: #787878; }
.board-list .bw-60 { width: 60px; color: #787878; }
.board-list .bw-70 { width: 70px; color: #787878; }
.board-list .bw-80 { width: 80px; color: #787878; }
.board-list .bw-90 { width: 90px; color: #787878; }
.board-list .bw-100 { width: 100px; color: #787878; }
.board-list .bw-110 { width: 110px; color: #787878; }
.board-list .bw-120 { width: 120px; color: #787878; }
.board-list .bw-130 { width: 130px; color: #787878; }
.board-list .bw-140 { width: 140px; color: #787878; }
.board-list .bw-150 { width: 150px; color: #787878; }
.board-list .bw-auto { color: #787878; }

.board-list-footer { padding-top: 7px; padding-bottom: 7px; }

/* 글 쓰기 폼 */
.write-form tr>td {
	vertical-align: middle;
}
.write-form p {
	line-height: 200%;
}
.write-form tr:first-child {
	border-top: 2px solid #212529;
}
.write-form tr>td:first-child {
	text-align: center;
}
.write-form tr>td:nth-child(2) {
	padding-left: 10px;
}
.write-form textarea {
	height: 150px; resize : none;
}

/* 댓글 */
.reply { clear: both; padding: 20px 0 10px; }
.reply .bold { font-weight: 600; }

.reply .form-header { padding-bottom: 7px; }
.reply-form  tr>td { padding: 2px 0 2px; }
.reply-form textarea { width: 100%; height: 75px; resize: none; }
.reply-form button { padding: 8px 25px; }

.reply .reply-info { padding-top: 25px; padding-bottom: 7px; }
.reply .reply-info  .reply-count { color: #3EA9CD; font-weight: 600; }

.reply .deleteReply, .reply .deleteReplyAnswer, .reply .notifyReply { cursor: pointer; }

.reply-answer { display: none; }
.reply-answer textarea { width: 100%; height: 75px; resize: none; }
