@charset "UTF-8";

*{
	padding: 0; margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

body {
	font-family:"Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	font-size: 14px;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, "Raleway", sans-serif;
}
a {
	color: #222; text-decoration: none; cursor: pointer;
}
a:active, a:hover {
  color: #0d58ba;
}

.fw-bold { font-weight: 600; }
.bg { background: #f8f9fa; }

/* table */
.table {
	width: 100%; border-spacing: 0; border-collapse: collapse;
}
.table tr th, .table tr td {
	padding-top: 10px; padding-bottom: 10px;
}

.table-border thead>tr:first-child {
	border-bottom: 2px solid #212529;
}
.table-border tbody>tr {
	border-bottom: 1px solid #ccc;
}
.table .border-top {
	border-top: 1px solid #ccc;
}
.table .border-top2 {
	border-top: 2px solid #212529;
}
.table .border-bottom {
	border-bottom: 1px solid #ccc;
}
.table .border-bottom2 {
	border-bottom: 2px solid #212529;
}
.border tr>td {
	border: 1px solid #ccc;
}

/* width */
.wp-15 { width: 15%; }
.wp-25 { width: 25%; }
.wp-35 { width: 35%; }
.wp-50 { width: 50%; }
.wp-75 { width: 75%; }
.wp-100 { width: 100%; }
.wp-auto { width: auto; }

/* margin */
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.ms-10 { margin-left: 10px; }
.ms-15 { margin-left: 15px; }
.ms-30 { margin-left: 30px; }
.mx-auto { margin-left: auto; margin-right: auto;}
.my-0 { margin-top: 0; margin-bottom: 0; }
.my-5 { margin-top: 5px; margin-bottom: 5px; }
.my-10 { margin-top: 10px; margin-bottom: 10px; }
.my-15 { margin-top: 15px; margin-bottom: 15px; }

/* padding */
.pt-0 { padding-top: 0; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pb-0 { padding-bottom: 0; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.ps-0 { padding-left: 0; }
.ps-5 { padding-left: 5px; }
.ps-7 { padding-left: 7px; }
.ps-10 { padding-left: 10px; }
.pe-0 { padding-right: 0; }
.pe-5 { padding-right: 5px; }
.pe-7 { padding-right: 7px; }
.pe-10 { padding-right: 10px; }
.px-0 { padding-left: 0; padding-right: 0; }
.px-5 { padding-left: 5px; padding-right: 5px; }
.px-7 { padding-left: 7px; padding-right: 7px; }
.py-0 { padding-top: 0; padding-bottom: 0; }
.py-5 { padding-top: 5px; padding-bottom: 5px; }
.py-7 { padding-top: 7px; padding-bottom: 7px; }
.py-10 { padding-top: 10px; padding-bottom: 10px; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.help-block { font-size: 12px; }

/* info box */
.info-continer {
	margin: 0 auto; padding: 70px 5px 40px; width: 500px;
}
.info-continer .info-title {
	text-align: center;
	padding: 10px 0 20px;
}
.info-continer .info-title > h3 {
	font-weight: bold; font-size:26px; color: #424951;
}
.info-continer .info-box {
	text-align: center;
    border: 1px solid #e2eefd;
    padding: 50px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    border-radius:4px;
}
.info-continer .info-box:hover {
	border-color: #fff;
	box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}
.info-continer .info-message {
	padding: 5px 10px 20px;
	font-size: 15px;
}
.info-continer .info-footer {
	padding: 5px 10px;
}

.btnConfirm {
	background: #106eea;
	border: solid 1px #00a6eb;
    color: #fff;
    font-size: 17px;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
    border-radius:4px;
    font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", 돋움, "Raleway", sans-serif;
    vertical-align: baseline;
}
.btnConfirm:hover, .btnConfirm:focus, .btnConfirm:active {
	font-weight: 400;
	background: #3284f1;
	border: solid 1px #00a6eb;
}

.alert-info {
    border: 1px solid #9acfea;
    border-radius: 4px;
    background-color: #d9edf7;
    color: #31708f;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* AJAX loading */
.loader {
  border: 17px solid #f3f3f3;
  border-radius: 50%;
  border-top: 17px solid blue;
  border-bottom: 17px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}