<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	<select id="seq" resultType="Integer">
		SELECT bbs_seq.NEXTVAL FROM dual
	</select>
	<insert id="insertBoard" parameterType="com.ssg.study.bbs.Board">
		INSERT INTO bbs(bbsNum, subject, content, hitCount, reg_date, userId)
			VALUES (#{bbsNum}, #{subject}, #{content}, 0, SYSDATE, #{userId})
	</insert>
	
	<sql id="where-list">
		<choose>
			<when test="condition=='all'">
				(
					INSTR(subject, #{keyword}) &gt; 0 OR
						DBMS_LOB.INSTR(content,#{keyword}) &gt;0
				)
			</when>	
			<when test="condition=='content'">
				DBMS_LOB.INSTR(content,#{keyword}) &gt;0
			</when>
			<when test="condition=='reg_date'">
				(
					TO_CHAR(b.reg_date, 'YYYY-MM-DD') = #{keyword} OR
						TO_CHAR(b.reg_date, 'YYYYMMDD') = #{keyword}
				)
			</when>
			<otherwise>
				INSTR(${condition}, #{keyword}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM bbs b
		JOIN member_detail m ON b.userId = m.userId
		<where>
			<if test="keyword!=null and keyword!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listBoard" parameterType="map" resultType="com.ssg.study.bbs.Board">
		SELECT * FROM (
			SELECT ROWNUM rnum, th.* FROM (
				SELECT b.bbsNum, nickName, subject, content, hitCount, 
					TO_CHAR(b.reg_date, 'YYYY-MM-DD') reg_date
				FROM bbs b
				JOIN member_detail m ON b.userId = m.userId
				<where>
					<if test="keyword!=null and keyword!=''">
						<include refid="where-list"/>
					</if>
				</where>
				ORDER BY bbsNum DESC
			) th WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="readBoard" parameterType="Integer"
		resultType="com.ssg.study.bbs.Board">
		SELECT b.bbsNum, b.userId, subject, nickName, content, hitCount, 
			TO_CHAR(b.reg_date, 'YYYY-MM-DD') reg_date
		FROM bbs b
		JOIN member_detail m ON b.userId = m.userId
		WHERE bbsNum = #{bbsNum}
	</select>
	
	<update id="updateHitCount" parameterType="Integer">
		UPDATE bbs SET hitCount=hitCount+1 WHERE bbsNum=#{bbsNum}
	</update>
	
	<select id="preReadBoard" parameterType="map"
		resultType="com.ssg.study.bbs.Board">
		SELECT * FROM (
			SELECT bbsNum, subject
			FROM bbs b
			JOIN member_detail m ON b.userId = m.userId
			<where>
				<if test="keyword!=null and keyword!=''">
					<include refid="where-list"/>
				</if>
				AND (bbsNum &gt; #{bbsNum} )
			</where>
			ORDER BY bbsNum ASC
		) WHERE ROWNUM = 1
	</select>
	
	<select id="nextReadBoard" parameterType="map"
		resultType="com.ssg.study.bbs.Board">
		SELECT * FROM (
			SELECT bbsNum, subject
			FROM bbs b
			JOIN member_detail m ON b.userId = m.userId
			<where>
				<if test="keyword!=null and keyword!=''">
					<include refid="where-list"/>
				</if>
				AND (bbsNum &lt; #{bbsNum} )
			</where>
			ORDER BY bbsNum DESC
		) WHERE ROWNUM = 1
	</select>
	
	<update id="updateBoard" parameterType="com.ssg.study.bbs.Board">
		UPDATE bbs SET subject=#{subject}, content=#{content}
		WHERE bbsNum = #{bbsNum}
	</update>
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM bbs WHERE bbsNum=#{bbsNum}
	</delete>
	
	
	<!-- 파일 -->
	<insert id="insertFile" parameterType="com.ssg.study.bbs.Board">
		INSERT INTO bbs_file ( bbs_fileNum, originalFilename, saveFilename, bbsNum, fileSize )
		VALUES (bbs_file_seq.NEXTVAL, #{originalFilename}, #{saveFilename}, #{bbsNum}, #{fileSize})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.ssg.study.bbs.Board">
		SELECT bbs_fileNum, originalFilename, saveFilename, bbsNum, fileSize 
		FROM bbs_file
		WHERE bbsNum=#{bbsNum}
	</select>
	
	<select id="readFile" parameterType="Integer" resultType="com.ssg.study.bbs.Board">
		SELECT bbs_fileNum, originalFilename, saveFilename, bbsNum, fileSize 
		FROM bbs_file
		WHERE bbs_fileNum=#{bbs_fileNum}
	</select>
	
	<delete id="deleteFile" parameterType="map">
		DELETE FROM bbs_file WHERE ${field}=#{bbsNum}
	</delete>
</mapper>