<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<resultMap type="HashMap" id="schoolMap">
		<id column="schoolCode" property="schoolCode"/>
		<id column="schoolName" property="schoolName"/>	
	</resultMap>

	<select id="loginMember" parameterType="String" resultType="com.ssg.study.member.Member">
		SELECT membership, m.userId, nickName, userName, pwd, stateCode, join_date, edit_date, last_date
		FROM member m
		JOIN member_detail md ON m.userId = md.userId
		WHERE m.userId = #{userId} AND stateCode = 0
	</select>
	
	<update id="updateLastLogin" parameterType="String">
		UPDATE member SET last_date = SYSDATE, failure_cnt = 0
		WHERE userId = #{userId}
	</update>
	
	<select id="readSchool" resultMap="schoolMap">
		SELECT schoolCode,schoolName FROM school
	</select>
	
	<insert id="insertMember" parameterType="com.ssg.study.member.Member">
		INSERT INTO member(userId, pwd, stateCode, join_date, edit_date, last_date, failure_cnt)
   			 VALUES(#{userId},#{pwd}, 0, SYSDATE, SYSDATE, SYSDATE, 0)
	</insert>
	
	<insert id="insertMember_detail" parameterType="com.ssg.study.member.Member">
		INSERT INTO member_detail(userId, nickName, tel,email, membership, birth, zip_code, addr1, addr2,  codeChange_Cnt, questCount, lottoUse,userName,schoolCode)
   		 VALUES(#{userId}, #{nickName}, #{tel},#{email}, 1, #{birth}, #{zip_code}, #{addr1}, #{addr2}, 0, 0, 0,#{userName},#{schoolCode, jdbcType=INTEGER})
	</insert>
	
	
	<select id="readuserId" parameterType="String" resultType="com.ssg.study.member.Member">
		SELECT m.userId, pwd, stateCode, TO_CHAR(join_date, 'YYYY-MM-DD') join_date, TO_CHAR(edit_date, 'YYYY-MM-DD') edit_date , TO_CHAR(last_date, 'YYYY-MM-DD') last_date, failure_cnt 
		     ,nickName, tel,email, membership, TO_CHAR(birth, 'YYYY-MM-DD') birth , zip_code, addr1, addr2, schoolCode,
		     codeChange_Cnt, questCount, lottoUse,userName
		    FROM member m
		    JOIN member_detail d ON d.userId = m.userId
		WHERE m.userId = #{userId}
	</select>
	
	<update id="updatemember" parameterType="com.ssg.study.member.Member">
		UPDATE member SET pwd=#{pwd} WHERE userId = #{userId}
	</update>
	
	<update id="updatemember_detail" parameterType="com.ssg.study.member.Member">
		UPDATE member_detail SET nickName=#{nickName},tel=#{tel},email=#{email},zip_code=#{zip_code},schoolCode=#{schoolCode,jdbcType=INTEGER},addr1=#{addr1},addr2=#{addr2},userName=#{userName},codeChange_cnt=#{codeChange_cnt} WHERE userId = #{userId}
	</update>
	
</mapper>