<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="note">

	<select id="listFriend" parameterType="map" resultType="com.ssg.study.note.Note">
		<choose>
			<when test="condition == 'friend'">
				SELECT nickName,userId FROM friends f,member_detail m
				WHERE (registrant = #{userId} AND ACCEPT = 'Y' AND f.registered=m.userId) OR (registered=#{userId} AND ACCEPT = 'Y'AND registrant=m.userId)
			</when>
			<otherwise>
				SELECT userId, nickName 
				FROM member_detail
				<where>
					userId != #{userId}
					AND		
					<if test="keyword!=null and keyword!='' ">
						INSTR(${condition}, #{keyword}) &gt; 0
					</if>
				</where>			
			</otherwise>
		</choose>
				
	</select>
	
	
	<select id="friendslist" parameterType="String" resultType="com.ssg.study.friends.Friends">
			SELECT num,registrant,registered,reg_date,accept,userName,nickName,userId FROM friends f,member_detail m
		WHERE (registrant = #{userId} AND ACCEPT = 'Y' AND f.registered=m.userId) OR (registered=#{userId} AND ACCEPT = 'Y'AND registrant=m.userId)
	</select>	
	
	
	<insert id="insertNote" parameterType="com.ssg.study.note.Note">
		INSERT INTO note(noteNum, content, sendDay, identifyDay, receiveDelete, sendDelete, senderId, receiverId)
		VALUES (note_seq.NEXTVAL, #{content}, SYSDATE, #{identifyDay, jdbcType=VARCHAR}, 'N', 'N', #{senderId}, #{receiverId})
	</insert>
	
	<sql id="where-list">
		<if test="condition=='senderId' or condition=='receiverId'">
			${condition}=#{keyword}
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='sendDay'">
			( TO_CHAR(sendDay, 'YYYYMMDD') = #{keyword}
				OR TO_CHAR(sendDay, 'YYYY-MM-DD') = #{keyword})
		</if>
	</sql>
	
	<!-- 받은 쪽지 리스트 -->
	<select id="dataCountReceive" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM note
		JOIN member ON senderId=userId
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			AND receiverId = #{userId}
			AND receiveDelete = 'N'
		</where>
	</select>
	
	<select id="listReceive" parameterType="map" resultType="com.ssg.study.note.Note">
	 SELECT * FROM (	
		SELECT ROWNUM rnum, tb.* FROM (
			SELECT noteNum, content, senderId,
				TO_CHAR(sendDay, 'YYYY-MM-DD HH24:MI:SS') sendDay,
				NVL2(identifyDay, TO_CHAR(identifyDay, 'YYYY-MM-DD HH24:MI:SS'), null) identifyDay,
				sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON senderId=userId
			<where>
				<if test="keyword != null and keyword != ''">
					<include refid="where-list"/>
				</if> 
				AND receiverId = #{userId}
				AND receiveDelete = 'N'
			</where>
			ORDER BY NoteNum DESC
		) tb WHERE ROWNUM &lt;= #{end}
	 ) WHERE rnum &gt;= #{start}
	</select>
	
	<!-- 보낸 쪽지 리스트 -->
	<select id="dataCountSend" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM note
		JOIN member ON receiverId=userId
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			AND senderId = #{userId}
			AND sendDelete = 'N'
		</where>
	</select>
	
	
	
	<select id="listSend" parameterType="map" resultType="com.ssg.study.note.Note">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT noteNum, content, receiverId, TO_CHAR(sendDay, 'YYYY-MM-DD HH24:MI:SS') sendDay,
				NVL2(identifyDay, TO_CHAR(identifyDay, 'YYYY-MM-DD HH24:MI:SS'), null) identifyDay,
				sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON receiverId=userId
			<where>
				<if test="keyword != null and keyword !=''">
					<include refid="where-list"/>
				</if>
				AND senderId = #{userId}
				AND sendDelete = 'N'
			</where>
			ORDER BY noteNum DESC
		) tb WHERE ROWNUM &lt;= #{end}
	  ) WHERE rnum &gt;= #{start}	
	</select>
	
	
	
	<!-- 받은 쪽지 내용 보기 -->
	<select id="readReceive" parameterType="Integer" resultType="com.ssg.study.note.Note">
			SELECT noteNum, content, senderId, nickName senderNickName,
				sendDay, identifyDay, sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON senderId=userId
			WHERE noteNum=#{noteNum}
	</select>	
	
	<!-- 받은쪽지 이전글 -->	
	<select id="preReadReceive" parameterType="map" resultType="com.ssg.study.note.Note">		
		SELECT * FROM (
			SELECT noteNum, content, senderId, nickName senderNickName,
				sendDay, identifyDay, sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON senderId =userId	
			<where>
				<if test="keyword!=null and keyword != '' ">
					<include refid="where-list"/>
				</if>
				AND receiverId = #{userId}
				AND receiveDelete = 'N'
				AND (noteNum &gt; #{noteNum})
			</where>
			ORDER BY noteNum ASC
		) WHERE ROWNUM = 1
	</select>
	
	<!-- 받은 쪽지 다음글 -->
	<select id="nextReadReceive" parameterType="map" resultType="com.ssg.study.note.Note">
		SELECT * FROM (
			SELECT noteNum, content, senderId, nickName senderNickName,
				sendDay, identifyDay, sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON senderId=userId
			<where>
				<if test="keyword != null and keyword != '' ">
					<include refid="where-list"/>
				</if>
				AND receiverId = #{userId}
				AND receiveDelete = 'N'
				AND (noteNum &lt; #{noteNum})
			</where>
			ORDER BY noteNum DESC
		) WHERE ROWNUM = 1
	</select>
	
	<!--  보낸 쪽지 내용 보기  -->
	<select id="readSend" parameterType="Integer" resultType="com.ssg.study.note.Note">
		SELECT noteNum, content, receiverId, nickName receiverNickName,
			sendDay, identifyDay, sendDelete, receiveDelete
		FROM note
		JOIN member_detail ON receiverId=userId
		WHERE noteNum=#{noteNum}	
	</select>
	
	<!-- 보낸 쪽지 이전글 -->
	<select id="preReadSend" parameterType="map" resultType="com.ssg.study.note.Note">
		SELECT * FROM (
			SELECT noteNum, content, receiverId, nickName receiverNickName,
				sendDay, identifyDay, sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON receiverId=userId
			<where>
				<if test="keyword != null and keyword != '' ">
					<include refid="where-list"/>
				</if>
				AND senderId = #{userId}
				AND sendDelete = 'N'
				AND (noteNum &gt; #{noteNum})
			</where>
			ORDER BY noteNum ASC
		) WHERE ROWNUM = 1
	</select>

	<!-- 보낸 쪽지 다음글 -->
	<select id="nextReadSend" parameterType="map" resultType="com.ssg.study.note.Note">
		SELECT * FROM (
			SELECT noteNum, content, receiverId, nickName receiverNickName,
				sendDay, identifyDay, sendDelete, receiveDelete
			FROM note
			JOIN member_detail ON receiverId=userId
			<where>
				<if test="keyword != null and keyword != '' ">
					<include refid="where-list"/>
				</if>
				AND senderId = #{userId}
				AND sendDelete = 'N'
				AND (noteNum &lt; #{noteNum})
			</where>
			ORDER BY noteNum DESC
		) WHERE ROWNUM = 1
	</select>
	
	<!-- 보낸 쪽지함 족지 답변 -->
	<select id="readReplReceive" parameterType="Integer" resultType="com.ssg.study.note.Note">
		SELECT noteNum, content, senderId, nickName senderNickName,
			sendDay, identifyDay, sendDelete, receiveDelete
		FROM note
		JOIN member_detail ON senderId=userId
		WHERE parent=#{noteNum} AND receiveDelete = 'N'
	</select>
	
	
	<!-- 쪽지를 확인상태로 변경 -->
	<delete id="updateIdentifyDay" parameterType="Integer">
		UPDATE note SET identifyDay = SYSDATE
		WHERE noteNum=#{noteNum} AND identifyDay IS NULL
	</delete>
	
	<!-- 쪽지를 삭제 상태로 변경 -->
	<delete id="updateDeleteState" parameterType="map">
		UPDATE note SET ${field1} ='Y'
		WHERE noteNum IN
			<foreach item="noteNum" index="index" collection="numList"
					open="(" separator="," close=")">
				#{noteNum}
			</foreach>
	</delete>
	
	<!-- 쪽지 삭제  -->
	<delete id="deleteNote" parameterType="map">
		DELETE FROM note
		WHERE ${field2} = 'Y' AND
			noteNum IN
				<foreach item="noteNum" index="index" collection="numList"
						open="(" separator="," close=")">
					#{noteNum}	
				</foreach>
	
	</delete>
	
	
	
</mapper>