<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study">

	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0
				OR DBMS_LOB.INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject' ">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content' ">
			DBMS_LOB.INSTR(content, #{keyword}) &gt; 0
		</if>
		<if test="condition=='userId' ">
			userId=#{keyword}
		</if>
		<if test="condition=='reg_date' ">
			( TO_CHAR(reg_date, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(reg_date, 'YYYYMMDD') = #{keyword} )
		</if>
	</sql>
	

	<insert id="insertStudy" parameterType="com.ssg.study.study.Study" >
		INSERT INTO study(studyNum, studyGoal, studyName, studyStatus)
		VALUES (#{studyNum}, #{studyGoal}, #{studyName}, 0)
	</insert>
	<delete id="deleteStudy" parameterType="Integer">
		DELETE FROM study WHERE studyNum = #{studyNum}
	</delete>
	
	<update id="updateStudy" parameterType="com.ssg.study.study.Study" >
		UPDATE study SET studyGoal=#{studyGoal}, studyName=#{studyName}
		WHERE studyNum = #{studyNum}		
	</update>
	<update id="inactiveStudy" parameterType="com.ssg.study.study.Study" >
		UPDATE study SET studyStatus = 1
		WHERE studyNum = #{studyNum}		
	</update>

	<insert id="insertTimes" parameterType="com.ssg.study.study.Study">
		INSERT INTO times(studyNum, questCount, usedCount) 
		VALUES(#{studyNum}, 0, 0)
	</insert>
	<update id="updateQuestCount" parameterType="Integer">
		UPDATE times SET questCount = questCount + 1, updateDate = SYSDATE
		WHERE studyNum = #{studyNum}
	</update>
	<select id="questCountCheck" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT questCount, TO_CHAR(updateDate, 'YYYY-MM-DD') updateDate
		FROM times
		WHERE studyNum = #{studyNum}
	</select>
	
	<update id="updateUsedCount" parameterType="map">
		UPDATE times SET usedCount = #{usedCount}
		WHERE studyNum = #{studyNum}
	</update>
	
	<select id="seq" resultType="Integer">
		SELECT study_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertStudyMember" parameterType="com.ssg.study.study.Study">
		INSERT INTO study_member(memberNum, role, studyNum, userId)
		VALUES (studymember_seq.NEXTVAL, #{role}, #{studyNum}, #{userId})
	</insert>
	
	<select id="studyList" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (        
	    	SELECT ROWNUM rnum, tb.* FROM (	
				SELECT s.studyNum, memberNum, role, userId, studyName, studyGoal, studyStatus
				FROM study s
				JOIN study_member sm ON s.studyNum = sm.studyNum
				WHERE userId = #{userId}
				ORDER BY studyNum DESC
		    ) tb WHERE ROWNUM &lt;= #{end}    
		) where rnum &gt;= #{start}
	</select>
	
	<select id="myStudyDataCount" parameterType="String" resultType="Integer">
		SELECT NVL(count(*), 0)
		FROM study s
		JOIN study_member sm ON s.studyNum = sm.studyNum
		WHERE userId = #{userId}
	</select>
	
	<select id="studyHomeList" parameterType="String" resultType="com.ssg.study.study.Study">
		SELECT s.studyNum, memberNum, role, userId, studyName, studyGoal, studyStatus
		FROM study s
		JOIN study_member sm ON s.studyNum = sm.studyNum
		WHERE userId = #{userId}
	</select>
	<select id="readStudy" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT s.studyNum, memberNum, role, userId, studyName, studyGoal, studystatus
		FROM study s
		JOIN study_member sm ON s.studyNum = sm.studyNum
		WHERE s.studyNum = #{studyNum} and userId= #{userId}
	</select>
	<select id="visitStudy" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT studyNum, studyGoal, studyName, studyStatus
		FROM study s
		WHERE studyNum = #{studyNum}
	</select>
	<select id="readCategory" parameterType="Integer" resultType="map">
		SELECT categoryNum, categoryName, studyNum 
		FROM study_category 
		WHERE studyNum=#{studyNum}
	</select>
	<insert id="insertCategory" parameterType="map">
		INSERT INTO study_category(categoryNum, categoryName, studyNum)
		VALUES (studyCategory_seq.NEXTVAL, #{categoryName}, #{studyNum})
	</insert>
	<update id="updateCategory" parameterType="map">
		UPDATE study_category SET categoryName = #{categoryName} 
		WHERE categoryNum = #{categoryNum}
	</update>
	<delete id="deleteCategory" parameterType="Integer">
		DELETE FROM study_category 
		WHERE categoryNum = #{categoryNum}
	</delete>
	<select id="studyAdList" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (        
	    	SELECT ROWNUM rnum, tb.* FROM (	
				SELECT s.studyNum, boardNum, subject, hitCount, studyStatus, nickname, content, sa.userId, TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date
					FROM study_ad sa
			        JOIN study s ON sa.studynum = s.studyNum
					JOIN member_detail md ON sa.userId = md.userId
					<where>
						<if test="keyword != null and keyword != '' ">
							<include refid="where-list"/>
						</if>
						AND studyStatus = 0
				    </where>
		    	ORDER BY boardNum DESC
		    ) tb WHERE ROWNUM &lt;= #{end}    
		) where rnum &gt;= #{start}
	</select>
	
	<select id="studyAdDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(count(*), 0)
			FROM study_ad sa
	        JOIN study s ON sa.studynum = s.studyNum
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
			AND studyStatus = 0
	    </where>
	</select>
	
	<select id="readStudyAd" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT studyNum, boardNum, hitCount, subject, content, sa.userId, nickName, TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date
		FROM study_ad sa
		JOIN member_detail md ON sa.userId = md.userId
		WHERE boardNum = #{boardNum}
	</select>
	
	<insert id="insertStudyAd" parameterType="com.ssg.study.study.Study">
		INSERT INTO study_ad(BoardNum, subject, content, studyNum, userId, reg_date, hitCount)
		VALUES (STUDYAD_SEQ.NEXTVAL, #{subject}, #{content}, #{studyNum}, #{userId}, SYSDATE, 0)
	</insert>
	
	<update id="updateStudyAdHitCount" parameterType="Integer">
		UPDATE study_ad SET hitCount=hitCount+1 WHERE BoardNum = #{BoardNum}
	</update>
	
	<update id="updateStudyAd" parameterType="com.ssg.study.study.Study">
		UPDATE study_ad SET subject=#{subject}, content=#{content}
		WHERE boardNum = #{boardNum} AND userId = #{userId}
	</update>
	
	<delete id="deleteStudyAd" parameterType="map">
		DELETE FROM study_ad WHERE boardNum = #{boardNum}
		<if test="membership &lt; 55 ">
			AND userId = #{userId}
		</if>
	</delete>
	
	<!-- 스터디참여 신청은 한번만 가능 -->
	<select id="studyMemberOnce" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM study_member
		WHERE userId = #{userId} AND studyNum = #{studyNum}
	</select>
	
	<select id="rankList" parameterType="map" resultType="com.ssg.study.study.Study">
        SELECT s.studyNum, studyName, studyGoal, questCount, usedCount
        FROM times t
        JOIN study s ON s.studyNum= t.studyNum
		<where> 
			studyStatus = 0
			<!-- 
			<if test="keyword != null and keyword != '' ">
			    AND INSTR(studyName, #{keyword}) &gt;= 1
			</if>
			 -->
		</where>
	</select>
	
	<select id="rankDataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*), 0)
		FROM times t
		JOIN study s ON s.studyNum= t.studyNum
		<where>
		    <if test="keyword != null and keyword != '' ">
		     INSTR(studyName, #{keyword}) &gt;= 1
		    </if>
		    AND studyStatus = 0
	    </where>
	</select>
	
	<select id="memberDataCount" parameterType="map" resultType="Integer">
	 SELECT NVL(COUNT(*), 0) FROM study_member sm
	 JOIN member_detail md ON sm.userId=md.userId
	 <where>
	 	<if test="keyword != null and keyword != '' ">
		    INSTR(nickName, #{keyword}) &gt;= 1
		</if>
		<if test="role != null and role != '' ">
		    and role &lt;= 1
		</if>
		and studyNum = #{studyNum}
	 </where>
	</select>
	
	<select id="memberList" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		            SELECT md.userId, nickName, role, s.studyNum, memberNum
		                FROM study s
		                JOIN study_member sb ON s.studyNum = sb.studyNum
		                JOIN member_detail md ON sb.userId = md.userId
		            <where>
					 	<if test="keyword != null and keyword != '' ">
						    INSTR(nickName, #{keyword}) &gt;= 1
						</if>
						<if test="role != null and role != '' ">
						    and role &lt;= 1
						</if>
						and s.studyNum = #{studyNum}
					 </where>
		            ORDER BY role DESC
		    ) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="studyListByCategoryDataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*), 0)
		FROM study_board sb
		JOIN study_category sc ON sc.categoryNum = sb.categoryNum
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list"/>
			</if>
				AND sb.categoryNum = #{categoryNum}
		</where>
	</select>
	
	<select id="studyListByCategory" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (        
	    	SELECT ROWNUM rnum, tb.* FROM (	
				SELECT s.studyNum, boardNum, subject, sb.categoryNum, hitCount, studyStatus, nickname, content, sb.userId, TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date
					FROM study_board sb
                    JOIN study_category sc ON sc.categoryNum = sb.categoryNum
			        JOIN study s ON sc.studynum = s.studyNum
					JOIN member_detail md ON sb.userId = md.userId
			    	<where>
						<if test="keyword != null and keyword != '' ">
								<include refid="where-list"/>
						</if>
						AND sb.categoryNum = #{categoryNum}
					</where>
		    		ORDER BY boardNum DESC
		    ) tb WHERE ROWNUM &lt;= #{end}    
		) where rnum &gt;= #{start}
	</select>
	<update id="updateHitCountByCategory" parameterType="Integer">
		UPDATE study_board SET hitCount = hitCount + 1
		WHERE boardNum = #{boardNum}
	</update>
	<select id="readArticleByCategory" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT boardNum, subject, sb.userId, nickName, hitCount, categoryNum, TO_CHAR(reg_date, 'YYYY-MM-DD') reg_date, content
		FROM study_board sb
		JOIN member_detail md ON sb.userId = md.userId
		WHERE boardNum = #{boardNum}
	</select>
	
	<update id="updateMember" parameterType="map">
		UPDATE study_member SET role = #{role}
		WHERE memberNum = #{memberNum}
	</update>
	
	<delete id="deleteMember" parameterType="Integer">
		DELETE FROM study_member WHERE memberNum = #{memberNum}
	</delete>
	<insert id="insertStudyReport" parameterType="map">
		INSERT INTO study_report(studyNum, userId, reason)
		VALUES(#{studyNum}, #{userId}, #{reason})
	</insert>
	
	<insert id="insertEachStudyBoard" parameterType="com.ssg.study.study.Study">
		INSERT INTO study_board(boardNum, subject, content, userId, hitCount, categoryNum, reg_date)
		VALUES (STUDYBOARD_1_SEQ.nextval, #{subject}, #{content}, #{userId}, 0, #{categoryNum}, SYSDATE)
	</insert>
	
	<update id="updateArticleByCategory" parameterType="com.ssg.study.study.Study">
		UPDATE study_board SET subject=#{subject}, content=#{content}
		WHERE boardNum = #{boardNum}
	</update>
	
	<delete id="deleteEachStudyBoard" parameterType="Integer">
		DELETE FROM study_board WHERE boardNum = #{boardNum}
	</delete>
	
	<select id="manageStudyDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM study
		<where>
			<if test="keyword != null and keyword != '' ">
			    AND INSTR(studyName, #{keyword}) &gt;= 1
			</if>
			<if test="onlyInactive != null and onlyInactive != ''">
				AND studyStatus = 1
			</if>
		</where>
	</select>
	
	<select id="manageStudyList" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT DISTINCT s.studyNum, studyName, studyStatus, COUNT(reason) OVER(PARTITION BY s.studyNum) reportCount
		        FROM study s
		        LEFT OUTER JOIN study_report sr ON s.studyNum = sr.studyNum
		        <where>
		        	<if test="keyword != null and keyword != '' ">
					    AND INSTR(studyName, #{keyword}) &gt;= 1
					</if>
					<if test="onlyInactive != null and onlyInactive != ''">
						AND studyStatus = 1
					</if>
		        </where>
		        ORDER BY reportCount DESC
		    ) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="reasonList" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT s.studyNum, studyName, reason, userId 
		FROM study_report sr
		JOIN study s ON sr.studyNum = s.studyNum
		WHERE s.studyNum = #{studyNum}
	</select>
	
	<update id="changeStudyStatus" parameterType="map">
		UPDATE study SET studyStatus = #{studyStatus}
		WHERE studyNum = #{studyNum}
	</update>
	
	<insert id="insertEvent" parameterType="com.ssg.study.study.Study">
		INSERT INTO event(eventNum, content, prize, lottoDate, subject, eventCategory, needPoint)
		VALUES(EVENT_SEQ.NEXTVAL, #{content}, #{prize}, #{lottoDate}, #{subject}, #{eventCategory}, #{needPoint, jdbcType=INTEGER})
	</insert>
	<select id="eventDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM event
		<where>
			<if test="condition=='all' ">
				( INSTR(subject, #{keyword}) &gt; 0
					OR INSTR(content, #{keyword}) &gt; 0 )
			</if>
			<if test="condition=='subject' ">
				INSTR(subject, #{keyword}) &gt; 0
			</if>
			<if test="condition=='content' ">
				INSTR(content, #{keyword}) &gt; 0
			</if>
		</where>
	</select>
	<select id="eventList" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT eventNum, subject, content, prize, TO_CHAR(lottoDate, 'YYYY-MM-DD') lottoDate, eventCategory, needPoint
		        FROM event
		        <where>
		        	<if test="condition=='all' ">
						( INSTR(subject, #{keyword}) &gt; 0
							OR INSTR(content, #{keyword}) &gt; 0 )
					</if>
					<if test="condition=='subject' ">
						INSTR(subject, #{keyword}) &gt; 0
					</if>
					<if test="condition=='content' ">
						INSTR(content, #{keyword}) &gt; 0
					</if>
				</where>
				ORDER BY eventNum DESC
		    ) tb WHERE ROWNUM &lt;=#{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="readEvent" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT eventNum, subject, content, TO_CHAR(lottoDate, 'YYYY-MM-DD') lottoDate, eventCategory, needPoint, prize
		FROM event
		WHERE eventNum = #{eventNum}
	</select>
	<update id="updateEvent" parameterType="com.ssg.study.study.Study">
		UPDATE event SET subject = #{subject}, content = #{content}, lottoDate = #{lottoDate}, eventCategory = #{eventCategory},
				needPoint = #{needPoint}, prize = #{prize}
		WHERE eventNum = #{eventNum}
	</update>
	<delete id="deleteEvent" parameterType="Integer">
		DELETE FROM event WHERE eventNum = #{eventNum}
	</delete>
	
	<select id="times" parameterType="Integer" resultType="com.ssg.study.study.Study">
		SELECT studyNum, questCount, usedCount, TO_CHAR(updateDate, 'YYYY-MM-DD') updateDate FROM times WHERE studyNum = #{studyNum}
	</select>
	
	<insert id="insertSoloEvent" parameterType="map">
		INSERT INTO soloEvent(userId, eventNum)
		VALUES(#{userId}, #{eventNum})
	</insert>
	<insert id="insertStudyEvent" parameterType="map">
		INSERT INTO studyEvent(studyNum, eventNum)
		VALUES(#{studyNum}, #{eventNum})
	</insert>
	
	<select id="eventStudyList" parameterType="String" resultType="com.ssg.study.study.Study">
		SELECT s.studyNum, studyName, role
		FROM study s
		JOIN study_member sm ON s.studyNum = sm.studyNum
		WHERE userId = #{userId} and role = 20;
	</select>
	
	<select id="soloEventDataCount" parameterType="Integer">
		SELECT NVL(COUNT(*), 0) FROM soloEvent
		WHERE eventNum = #{eventNum}
	</select>
	<select id="studyEventDataCount" parameterType="Integer">
		SELECT NVL(COUNT(*), 0) FROM studyEvent
		WHERE eventNum = #{eventNum}
	</select>
	<insert id="insertEventWinning" parameterType="map">
		INSERT INTO event_winning(winNum, eventNum, userId, studyNum)
		VALUES(EVENT_WINNING_SEQ.NEXTVAL, #{eventNum}, #{userId, jdbcType=VARCHAR}, #{studyNum, jdbcType=INTEGER} )
	</insert>
	<select id="winning" parameterType="map" resultType="com.ssg.study.study.Study">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
		        SELECT eventNum, userId 
		        FROM ${table}
		        where eventNum = #{eventNum}
		    ) tb 
		) WHERE rnum = #{winning}
	</select>
</mapper>